<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>回放</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap -->
<link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
<!-- //bootstrap -->
<link href="/css/dashboard.css" rel="stylesheet">
<!-- Custom Theme files -->
<link href="/css/style.css" rel='stylesheet' type='text/css' media="all" />
<script src="/js/jquery-1.11.1.min.js"></script>
<!--start-smoth-scrolling-->
<!-- fonts -->
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!-- //fonts -->
</head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div th:include="header"></div>
    </nav>
		<div class="col-sm-3 col-md-2 sidebar">
			<div class="drop-navigation drop-navigation">
				 <ul class="nav nav-sidebar">
				<li class="active"><a href="index.html" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>直播</a></li>
				</div>
			</div>
        </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="main-grids">
				<div class="top-grids">
					<div class="recommended-info">
						<h3>回放列表</h3>
					</div>
					<div class="col-md-4 resent-grid recommended-grid slider-top-grids" th:each="video : ${res}">
						<div class="resent-grid-img recommended-grid-img">
							<input type="hidden" id="uid" th:value="${video.roomEntity.uid}">
							<a href="javascript:void(0);" onclick="video()"><img th:src="${video.roomEntity.imgAdd}" alt="" /></a>
						</div>

						<div class="resent-grid-info recommended-grid-info">
							<h3><a href="single.html" class="title title-info" th:text="${video.roomEntity.rName}"></a></h3>
							<ul>
								<li><p class="author author-info"><a href="#" class="author" th:text="${video.name}"></a></p></li>

								<li class="live-time"><p class="views views-info" th:text="${video.roomEntity.startTime}"></p></li>
							</ul>
						</div>
					</div>
					
			<script src="/js/responsiveslides.min.js"></script>
		</div>
		
	
    
    <script src="/js/bootstrap.min.js"></script>

  </body>

<script>
	function video() {
		var uid = $("#uid").val();
		window.location = "http://localhost:8080/video?id=" + uid + "&type=360p";
	}
</script>
</html>